@font-face {
    font-family: 'SU';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'CG';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: "SU";
}
ul,li{
    list-style: none;
}
p{
   color: skyblue;
}

li>div{
    font-family: "CG";
    font-weight: 600;

}

#Qbox{
    border-bottom: solid 2px skyblue;
}

.number{
    display: flex;
    width: 50px;;
    height: 50px;
    background-color: aqua;
    color: white;
    align-items: center;
    justify-content: center;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}




